:root {
    --upload-btn: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="hsl(210, 94%, 59%)"><path d="M7.3 14.2L.2 9l1.7-2.4 4.8 3.5 6.6-8.5 2.3 1.8z"/></svg>');
    --rotate-left-btn: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="hsl(210, 94%, 59%)"><path d="M8 0C5 0 2.4 1.6 1.1 4.1L0 3v4h4L2.5 5.5C3.5 3.5 5.6 2 8 2c3.3 0 6 2.7 6 6s-2.7 6-6 6c-1.8 0-3.4-.8-4.5-2.1L2 13.2C3.4 14.9 5.6 16 8 16c4.4 0 8-3.6 8-8s-3.6-8-8-8z"/></svg>');
    --rotate-right-btn: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="hsl(210, 94%, 59%)"><path d="M16 7V3l-1.1 1.1C13.6 1.6 11 0 8 0 3.6 0 0 3.6 0 8s3.6 8 8 8c2.4 0 4.6-1.1 6-2.8l-1.5-1.3C11.4 13.2 9.8 14 8 14c-3.3 0-6-2.7-6-6s2.7-6 6-6c2.4 0 4.5 1.5 5.5 3.5L12 7h4z"/></svg>');
    --flip-horizontal-btn: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="hsl(210, 94%, 59%)"><path d="M0 15l6-5-6-4.9zM9 10.1l6 4.9V5l-6 5.1zm5 2.8l-3.4-2.8 3.4-3v5.8zM7 5h1v1H7V5zM7 3h1v1H7V3zM7 7h1v1H7V7zM7 9h1v1H7V9zM7 11h1v1H7v-1zM7 13h1v1H7v-1zM7 15h1v1H7v-1z"/><path d="M7.5 1c1.3 0 2.6.7 3.6 1.9L10 4h3V1l-1.2 1.2C10.6.8 9.1 0 7.5 0 5.6 0 3.9 1 2.6 2.9l.8.6C4.5 1.9 5.9 1 7.5 1z"/></svg>');
    --flip-vertical-btn: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="hsl(210, 94%, 59%)"><path d="M1 1l5 6 4.94-6H1zM5.94 10L1 16h10zm-2.82 5l2.83-3.44 3 3.44H3.12zM10 8h1v1h-1V8zM12 8h1v1h-1V8zM8 8h1v1H8V8zM6 8h1v1H6V8zM4 8h1v1H4V8zM2 8h1v1H2V8zM0 8h1v1H0V8z"/><path d="M15 8.47a4.807 4.807 0 0 1-1.879 3.632L12 11v3h3l-1.18-1.18A5.757 5.757 0 0 0 16 8.478V8.47a6.062 6.062 0 0 0-2.884-4.905l-.596.805a5.095 5.095 0 0 1 2.479 4.087z"/></svg>');
}

.cropper-wrapper {
    margin-top: 1em;
}

.cropper-bar {
    display: flex;
    margin-top: 0.5em;
    justify-content: center;

    & > button {
        border: none;
        padding: 0.2em;
        margin: 0.2em;
        font-size: 130%;
        cursor: pointer;

        &::before {
            display: block;
			width: 1em;
            height: 1em;
        }

        &:hover {
            filter: hue-rotate(180deg);
        }

        &:only-child {
            margin: 0.2em;
        }
    }

    .cropper-upload {
        order: 999;
        margin-left: 3em;

        &::before {
            content: var(--upload-btn);
        }
    }

    .cropper-rotate-left {

        &::before {
            content: var(--rotate-left-btn);
        }
    }

    .cropper-rotate-right {

        &::before {
            content: var(--rotate-right-btn);
        }
    }

    .cropper-flip-horizontal {

        &::before {
            content: var(--flip-horizontal-btn);
        }
    }

    .cropper-flip-vertical {

        &::before {
            content: var(--flip-vertical-btn);
        }
    }
}
